{% extends 'FabioMoraWebBundle::base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Symfony</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('fabio_mora_web_homepage') }}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Username</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {% block main %}
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="sidebar">
                <div class="well sidebar-nav">
                    {% block sidebar %}
                        Sidebar
                    {% endblock %}
                </div>
            </div>

            <div class="col-xs-12 col-sm-9">
                {% block content %}
                    <div class="jumbotron">
                        <h1>Welcome.</h1>
                        <p>Lorem ipsum :-)!</p>
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>

    <hr>

    <footer>
        <p>&copy; <a href="http://fabio.mora.name">fabio.mora.name</a></p>
    </footer>
</div>
{% endblock %}


